<ion-view title="Configuracion">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-90">
                <h3 class="title">
                    Dispositivos bluetooth
                </h3>
            </div>
            <div class="col">
                <button 
                    class="button button-small button-assertive button-outline"
                    ng-click="ctrl.clearDevice()">
                    <i class="ion-trash-a"></i>
                </button>
            </div>
        </div>
        
        <div class="list">
            <label 
                ng-repeat="device in ctrl.devices"
                class="item item-radio">
                <input 
                    type="radio"
                    name="devices"
                    value="1"
                    ng-model="device.selected"
                    ng-change="ctrl.deviceChanged(device)">
                <div class="item-content">
                    <p>
                        {{device.name}}
                        <br>
                        <small>MAC: {{device.address}}</small>
                    </p>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>
        </div>
    </ion-content>
</ion-view>
