<ion-view title="LED">

    <ion-content class="has-header padding">

        <div class="bar bar-header bar-assertive"
            ng-hide="ctrl.device.connected">
            <h1 class="title">No hay ningún dispositivo conectado</h1>
        </div>

        <div class="list card"
            ng-show="ctrl.device.connected">
            <div class="item item-icon-left">
                <i class="icon ion-bluetooth"></i>
                <h2>Dispositivo: {{ctrl.device.name}}</h2>
                <p>MAC: {{ctrl.device.address}}</p>
            </div>

            <div class="item item-toggle">
                Activar LED
                <label class="toggle toggle-positive">
                    <input type="checkbox"
                        ng-model="ctrl.device.ledEnabled"
                        ng-change="ctrl.toggleLed(ctrl.device)">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>