<!-- 
    Create tabs with an icon and label, using the tabs-positive style. 
    Each tab's child <ion-nav-view> directive will have its own 
    navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-striped tabs-background-stable tabs-color-positive">


    <!-- Dashboard Tab -->
    <ion-tab title="LED" icon="icon ion-home" href="#/tab/dashboard">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>


    <!-- COnfig Tab -->
    <ion-tab title="Configuracion" icon="icon ion-gear-b" href="#/tab/config">
        <ion-nav-view name="tab-config"></ion-nav-view>
    </ion-tab>


</ion-tabs>
